<% include header %>
<!--Header-->

<% include menu-left %>
<!--Menú izquierdo-->
<!--Estructura formulario cliente-->
<div class="component">
    <div class="container">
        <!--CARD PARA REGISTRO DE CLIENTES-->
        <div class="card my-3 shadow">
            <div class="card-header header-sales">
                <!--CARD-HEADER-->
                <div class="row">
                    <h1 class="h3 mb-0 pl-3 col-6 my-auto">CLIENTES</h1>
                </div>
            </div>
            <div class="card-body">
                <!--CARD-BODY-->
                <div class="body-clients py-2 px-3">
                    <!-- FORMULARIO AGREGAR CLIENTES -->
                    <form action="/add-cliente" method="POST" id="add-client">
                        <!--INICIO BUSCAR CLIENTE -->
                        <div class="row border border-dark p-3 rounded">
                            <div class="form-group col-12 col-md-4 px-0">
                                <!--CEDULA-->
                                <label for="lblcedulaCli" class="mb-0 font-weight-bold">Cédula/DNI</label>
                                <input type="text" class="form-control" name="cedulaCli" id="cedulaCli"
                                    placeholder="Cédula">
                            </div>
                            <div class="form-group col-12 col-md-3 ml-auto px-0">
                                <!--OPTS CIUDAD-->
                                <label for="lblciudadCli" class="mb-0 font-weight-bold">Ciudad</label>
                                <select class="form-control" name="ciudadCli" id="ciudadCli">Escoja ciudad
                                    <option value="default">Seleccione ciudad</option>
                                    <option value="Machala">Machala</option>
                                    <option value="Pasaje">Pasaje</option>
                                    <option value="Huaquillas">Huaquillas</option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-4 px-0 ml-auto">
                                <!--DIRECCION-->
                                <label for="lbladdressCli" class="mb-0 font-weight-bold">Dirección</label>
                                <input type="text" rows="1" class="form-control" name="direccionCli" id="direccionCli"
                                    placeholder="Dirección">
                            </div>

                            <div class="form-group col-12 col-md-4  pl-0 pr-0">
                                <!--NOMBRES-->
                                <label for="lblnombresCli" class="mb-0 font-weight-bold">Nombres y apellidos</label>
                                <input type="text" class="form-control" name="nombresCli" id="nombresCli"
                                    placeholder="Nombres">
                            </div>
                            <!--APELLIDOS
                            <div class="form-group col-12 col-md-4 ml-auto px-0">
                                
                                <label for="lblapellidosCli" class="mb-0 font-weight-bold">Apellidos</label>
                                <input type="text" class="form-control" name="apellidosCli" id="apellidosCli"
                                    placeholder="Apellidos">
                            </div>-->
                            <div class="form-group col-12 col-md-3 ml-auto px-0">
                                <!--TELEFONO-->
                                <label for="lblphoneCli" class="mb-0 font-weight-bold">Teléfono</label>
                                <input type="text" class="form-control" name="telefonoCli" id="telefonoCli"
                                    placeholder="Teléfono">
                            </div>


                            <div class="form-group col-12 col-md-4 ml-auto px-0">
                                <!--CORREO ELECTRONICO-->
                                <label for="lblemail" class="mb-0 font-weight-bold">Correo</label>
                                <input type="email" class="form-control" name="correoCli" id="correoCli"
                                    placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            </div>
                            <button type="submit" class="form-control btn btn-info mt-4"><i
                                    class="fas fa-user-plus"></i>&nbsp; Agregar</button>
                    </form>
                    <!--FIN FORMULARIO CLIENTE -->
                </div>

                <!-- TABLA PRODUCTOS -->
                <div class="row my-4">
                    <h1 class="h3 mb-0 pl-3 col-6 my-auto ">Clientes registrados</h1>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar-cliente">
                        <table class="table table-bordered table-hover" id="tableProducts" name="tableProducts">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">Cédula/DNI</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Teléfono</th>
                                    <th scope="col">Ciudad</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Controles</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i=0; i<clientes.rows.length; i++) { %>
                                <tr>
                                    <td class="text"><%= clientes.rows[i][0] %></td>
                                    <td class="text-truncate"><%= clientes.rows[i][1] %>&nbsp;<%= clientes.rows[i][2] %>
                                    </td>
                                    <td class="text-truncate"><%= clientes.rows[i][3] %></td>
                                    <td class="text-truncate"><%= clientes.rows[i][4] %></td>
                                    <td class="text-truncate"><%= clientes.rows[i][5] %></td>
                                    <td class="text-truncate"><%= clientes.rows[i][6] %></td>

                                    <% if (user.admin == true ) { %><!--Hacer esto si el usuario es admin-->
                                    <td class="text-center py-2">
                                        <a href="/habilitar-cliente/<%= clientes.rows[i][0] %>"
                                            class="btn <%= clientes.rows[i][7]==='1'? 'btn-success': 'btn-dark' %>">
                                            <i
                                                class="fa <%= clientes.rows[i][7]==='1'? 'fas fa-user-minus': 'fa-user-check' %> button-table mr-1"></i><%= clientes.rows[i][7]==='1'? 'Desabilitar': 'Habilitar' %>
                                        </a>

                                        <a href="/edit-cliente/<%= clientes.rows[i][0] %>" class="btn btn-info btn-sm mx-auto">
                                            <i class="fa fa-pencil-alt button-table"></i>
                                        </a>
                                        <!--<button type="button" class="btn btn-info btn-sm mx-auto" name="btnEliminarPro"
                                                id="btnEditarPro" value="-">
                                                <span class="fa fa-pencil-alt button-table"></span>
                                            </button>
                                            -->
                                    </td>
                                    <% } %>
                                </tr>
                                <% } %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include footer %>
<!--Pie de página-->