<% include header %>
<!--Header-->

<% include menu-left %>
<!--Menú izquierdo-->
<<<<<<< HEAD
<!--% len(clientes) %>-->
=======

>>>>>>> c97c2ee50bccf9fe8f1ed05bdbb7b82fcd2d2b6d
<!--Estructura formulario cliente-->
<div class="component">
    <div class="container">
        <!--CARD PARA REGISTRO DE CLIENTES-->
        <div class="card my-3 shadow">
            <div class="card-header header-sales">
                <!--CARD-HEADER-->
                <div class="row">
                    <h1 class="h3 mb-0 pl-3 col-6 my-auto">CLIENTES</h1>
                </div>
            </div>
            <div class="card-body">
                <!--CARD-BODY-->
                <div class="body-clients py-2 px-3">
<<<<<<< HEAD
                    <!-- FORMULARIO AGREGAR CLIENTES -->
                    <form action="/add-cliente" method="POST" id="add-client">
=======
                    <!-- CLIENTES -->
                    <form action="/add-client" method="GET" id="add-client">
>>>>>>> c97c2ee50bccf9fe8f1ed05bdbb7b82fcd2d2b6d
                        <!--INICIO BUSCAR CLIENTE -->
                        <div class="row border border-dark p-3 rounded">
                            <div class="form-group col-12 col-md-4 px-0">
                                <!--CEDULA-->
                                <label for="lblcedulaCli" class="mb-0 font-weight-bold">Cédula/DNI</label>
                                <input type="text" class="form-control" name="cedulaCli" id="cedulaCli"
                                    placeholder="Cédula">
                            </div>
                            <div class="form-group col-12 col-md-3 ml-auto px-0">
                                <!--OPTS CIUDAD-->
                                <label for="lblciudadCli" class="mb-0 font-weight-bold">Ciudad</label>
<<<<<<< HEAD
                                <select class="form-control" name="ciudadCli" id="ciudadCli">Escoja ciudad
=======
                                <select class="form-control" name="ciudad" id="ciudad">Escoja ciudad
>>>>>>> c97c2ee50bccf9fe8f1ed05bdbb7b82fcd2d2b6d
                                    <option value="default">Seleccione ciudad</option>
                                    <option value="Machala">Machala</option>
                                    <option value="Pasaje">Pasaje</option>
                                    <option value="Huaquillas">Huaquillas</option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-4 px-0 ml-auto">
                                <!--DIRECCION-->
                                <label for="lbladdressCli" class="mb-0 font-weight-bold">Dirección</label>
<<<<<<< HEAD
                                <input type="text" rows="1" class="form-control" name="direccionCli" id="direccionCli"
=======
                                <input type="text" rows="1" class="form-control" name="addressCli" id="addressCli"
>>>>>>> c97c2ee50bccf9fe8f1ed05bdbb7b82fcd2d2b6d
                                    placeholder="Dirección">
                            </div>

                            <div class="form-group col-12 col-md-4  pl-0 pr-0">
                                <!--NOMBRES-->
                                <label for="lblnombresCli" class="mb-0 font-weight-bold">Nombres y apellidos</label>
                                <input type="text" class="form-control" name="nombresCli" id="nombresCli"
                                    placeholder="Nombres">
                            </div>
                            <!--APELLIDOS
                            <div class="form-group col-12 col-md-4 ml-auto px-0">
                                
                                <label for="lblapellidosCli" class="mb-0 font-weight-bold">Apellidos</label>
                                <input type="text" class="form-control" name="apellidosCli" id="apellidosCli"
                                    placeholder="Apellidos">
                            </div>-->
                            <div class="form-group col-12 col-md-3 ml-auto px-0">
                                <!--TELEFONO-->
                                <label for="lblphoneCli" class="mb-0 font-weight-bold">Teléfono</label>
<<<<<<< HEAD
                                <input type="text" class="form-control" name="telefonoCli" id="telefonoCli"
=======
                                <input type="text" class="form-control" name="phoneCli" id="phoneCli"
>>>>>>> c97c2ee50bccf9fe8f1ed05bdbb7b82fcd2d2b6d
                                    placeholder="Teléfono">
                            </div>


                            <div class="form-group col-12 col-md-4 ml-auto px-0">
                                <!--CORREO ELECTRONICO-->
                                <label for="lblemail" class="mb-0 font-weight-bold">Correo</label>
<<<<<<< HEAD
                                <input type="text" class="form-control" name="correoCli" id="correoCli"
                                    placeholder="E-mail">
                            </div>
                            <button type="submit" class="form-control btn btn-info mt-4"><i
                                    class="fas fa-user-plus"></i>&nbsp; Agregar</button>
                    </form>
                    <!--FIN FORMULARIO CLIENTE -->
                </div>

=======
                                <input type="text" class="form-control" name="email" id="email" placeholder="E-mail">
                            </div>
                            <button type="submit" class="form-control btn btn-info mt-4"><i class="fas fa-user-plus"></i>&nbsp; Agregar</button>
                    </form>
                    <!--FIN FORMULARIO CLIENTE -->
                </div>
>>>>>>> c97c2ee50bccf9fe8f1ed05bdbb7b82fcd2d2b6d
                <!-- TABLA PRODUCTOS -->
                <div class="row my-4">
                    <h1 class="h3 mb-0 pl-3 col-6 my-auto ">Clientes registrados</h1>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-hover" id="tableProducts" name="tableProducts">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">Cédula/DNI</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Teléfono</th>
                                    <th scope="col">Ciudad</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Controles</th>
                                </tr>
                            </thead>
                            <tbody>
<<<<<<< HEAD
                                <% for (var i=0; i<clientes.rows.length; i++) { %>
                                <tr>
                                    <td class="text"><%= clientes.rows[i][0] %></td>
                                    <td class="text-truncate"><%= clientes.rows[i][1] %>&nbsp;<%= clientes.rows[i][2] %>
                                    </td>
                                    <td class="text-truncate"><%= clientes.rows[i][3] %></td>
                                    <td class="text-truncate"><%= clientes.rows[i][4] %></td>
                                    <td class="text-truncate"><%= clientes.rows[i][5] %></td>
                                    <td class="text-truncate"><%= clientes.rows[i][6] %></td>
                                    <td class="text-center py-2">
                                        <a href="/habilitado/<%= clientes.rows[i][0]%>" class="btn <%= clientes.rows[i][7]===1? 'btn-success': 'btn-dark' %>">
                                            <i class=" fa fa-times button-table"></i>
                                        </a>
                                        <!--
                                            <a href="/realizada/<%= tasks[i].id %>" 
                                        class="btn <%= tasks[i].status ? 'btn-success' : 'btn-dark' %>">
                                        Realizado
                                    </a>
                                        -->
                                        <a class="btn btn-info btn-sm mx-auto">
                                            <i class="fa fa-pencil-alt button-table"></i>
                                        </a>
                                        <!--<button type="button" class="btn btn-info btn-sm mx-auto" name="btnEliminarPro"
                                            id="btnEditarPro" value="-">
                                            <span class="fa fa-pencil-alt button-table"></span>
                                        </button>
                                        -->
                                    </td>
                                </tr>
                                <% } %>

=======
                                <tr>
                                    <td class="text">123456789</td>
                                    <td class="text-truncate">Alex Ramón</td>
                                    <td class="text-truncate">Urbanización ciudad del sol</td>
                                    <td class="text-truncate">0969854751</td>
                                    <td class="text-truncate">Machala</td>
                                    <td class="text-truncate">aaramon_est@utmachala.edu.ec</td>
                                    <td class="text-center py-2">
                                        <button type="button" class="btn btn-danger btn-sm mx-auto"
                                            name="btnEliminarPro" id="btnEditarPro" value="-"><span
                                                class="fa fa-times button-table"></span></button>
                                        <button type="button" class="btn btn-info btn-sm mx-auto" name="btnEliminarPro"
                                            id="btnEditarPro" value="-"><span
                                                class="fa fa-pencil-alt button-table"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-truncate">7485623158</td>
                                    <td class="text-truncate">Rodrigo Villarroel </td>
                                    <td class="text-truncate">Ayacucho y Manuel Serrano</td>
                                    <td class="text-truncate">0978541268</td>
                                    <td class="text-truncate">Machala</td>
                                    <td class="text-truncate">rvillarroel_est@utmachala.edu.ec</td>
                                    <td class="text-center py-2">
                                        <button type="button" class="btn btn-danger btn-sm mx-auto"
                                            name="btnEliminarPro" id="btnEditarPro" value="-"><span
                                                class="fa fa-times button-table"></span></button>
                                        <button type="button" class="btn btn-info btn-sm mx-auto" name="btnEliminarPro"
                                            id="btnEditarPro" value="-"><span
                                                class="fa fa-pencil-alt button-table"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-truncate">7584965887</td>
                                    <td class="text-truncate">Briggite Orellana</td>
                                    <td class="text-truncate">Rayito de luz, esq</td>
                                    <td class="text-truncate">0985413212</td>
                                    <td class="text-truncate">Machala</td>
                                    <td class="text-truncate">borellana_est@utmachala.edu.ec</td>
                                    <td class="text-center py-2">
                                        <button type="button" class="btn btn-danger btn-sm mx-auto"
                                            name="btnEliminarPro" id="btnEditarPro" value="-"><span
                                                class="fa fa-times button-table"></span></button>
                                        <button type="button" class="btn btn-info btn-sm mx-auto" name="btnEliminarPro"
                                            id="btnEditarPro" value="-"><span
                                                class="fa fa-pencil-alt button-table"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" class="text-truncate">0780849695</td>
                                    <td class="text-truncate">Steeven Córdova</td>
                                    <td class="text-truncate">Manabí y Velasco Ibarra</td>
                                    <td class="text-truncate">0967237228</td>
                                    <td class="text-truncate">Huaquillas</td>
                                    <td class="text-truncate">wcordova_est@utmachala.edu.ec</td>
                                    <td class="text-center py-2">
                                        <button type="button" class="btn btn-danger btn-sm mx-auto"
                                            name="btnEliminarPro" id="btnEditarPro" value="-"><span
                                                class="fa fa-times button-table"></span></button>
                                        <button type="button" class="btn btn-info btn-sm mx-auto" name="btnEliminarPro"
                                            id="btnEditarPro" value="-"><span
                                                class="fa fa-pencil-alt button-table"></span></button>
                                    </td>
                                </tr>
>>>>>>> c97c2ee50bccf9fe8f1ed05bdbb7b82fcd2d2b6d
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include footer %>
<!--Pie de página-->